*{
    margin: 0;
    padding: 0;
}
.hero{
    background-image: url(../images/cow.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
}
.hero h1{
    color: azure;
    font-size: 100px;
}